<footer class="container-fluid">
    <div  id="lien-1">
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Regles du Jeu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Explanations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Handicap Asiatique</a>
  </li>
</ul>
    </div>
    <div id="lien-2">
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Privacy Policy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">General Terms and Conditions
 </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Handicap Asiatique</a>
  </li>
    </ul>
    </div>
     <div id="lien-3">
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Affiliate Program</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Responsible Gaming
 </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Match Center</a>
  </li>
    </ul>
    </div>

</footer>


